<!-- Social Media Icons from W3 schools -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
    function newsFunction() {
        alert("Your email has been added");
    }
</script>
<footer class="jumbotron footer">
    <div class="row">
        <div class="container text-center">
            <h4>Stay Connected</h4>
            <div class="col">

                <!--@https://mdbootstrap.com/components/social-buttons/#social-icons-->
                <!--Facebook-->
                <button type="button" class="btn btn-fb"><i class="fa fa-facebook"></i></button>
                <!--Twitter-->
                <button type="button" class="btn btn-tw"><i class="fa fa-twitter"></i></button>
                <!--Google +-->
                <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus"></i></button>
                <!--Linkedin-->
                <button type="button" class="btn btn-li"><i class="fa fa-linkedin"></i></button>
                <!--Instagram-->
                <button type="button" class="btn btn-ins"><i class="fa fa-instagram"></i></button>
            </div>
        </div>

        <div class="container text-center">
            <p class="newsletter">Join our newsletter</p>
            <form action="" method="" id="form_newsletter" onsubmit="newsFunction()">
                <input type="email"   name="email" placeholder="email" required>
                <button type="submit" value="Submit">Sign-up</button>
            </form>

        </div>

    </div>
</footer>